absl-py==0.7.1
aniso8601==7.0.0
appdirs==1.4.3
asn1crypto==0.24.0
astor==0.8.0
astroid==1.6.6
atomicwrites==1.3.0
attrs==19.1.0
autograd==1.2
autopep8==1.4.4
Babel==2.7.0
backports.functools-lru-cache==1.5
backports.weakref==1.0.post1
boto==2.49.0
boto3==1.9.182
botocore==1.12.182
#Bottleneck==1.2.1
bz2file==0.98
certifi==2019.6.16
cffi==1.12.3
chardet==3.0.4
Click==7.0
configparser==3.7.4
contextlib2==0.5.5
coverage==4.5.3
#cryptography==2.7
cycler==0.10.0
decorator==4.4.0
dnspython==1.16.0
docutils==0.14
dummyrdd==0.1.2
enum34==1.1.6
eventlet==0.25.0
Faker==1.0.7
#fim==6.27
funcsigs==1.0.2
functools32==3.2.3.post2
funcy==1.12
future==0.17.1
futures==3.2.0
gast==0.2.2
gensim==3.7.3
gevent==1.4.0
greenlet==0.4.15
grpcio==1.21.1
h5py==2.9.0
idna==2.8
importlib-metadata==0.18
ipaddress==1.0.22
isort==4.3.21
itsdangerous==1.1.0
Jinja2==2.10.1
jmespath==0.9.4
joblib==0.13.2
Keras==2.2.4
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
kiwisolver==1.1.0
lazy-object-proxy==1.4.1
#lifelines==0.19.5
Markdown==3.1.1
MarkupSafe==1.1.1
marshmallow==2.19.5
matplotlib==2.2.4
mccabe==0.6.1
mock==3.0.5
mockredispy==2.9.3
monotonic==1.5
more-itertools==5.0.0
networkx==1.11
nltk==3.4.3
numpy==1.16.4
packaging==19.0
pandas==0.24.2
pandasql==0.7.3
pathlib2==2.3.4
pbr==5.3.1
pep8==1.7.1
Pillow==6.0.0
pluggy==0.12.0
ply==3.11
protobuf==3.8.0
py==1.8.0
py4j==0.10.8.1
pyaml==19.4.1
pyarrow==0.13.0
pycodestyle==2.5.0
pycparser==2.19
pyinotify==0.9.6
pylint==1.9.4
PyMySQL==0.9.3
pyparsing==2.4.0
Pyqtree==1.0.0
pyshp==2.1.0
pytest==4.6.4
pytest-cov==2.7.1
python-dateutil==2.8.0
python-engineio==3.8.2
python-socketio==4.2.0
pytz==2019.1
PyYAML==5.1.1
redis==3.2.1
requests==2.22.0
RestrictedPython==4.0
rq==1.0
s3transfer==0.2.1
scandir==1.10.0
scikit-learn==0.20.3
scipy==1.2.2
seaborn==0.9.0
simplejson==3.16.0
singledispatch==3.4.0.3
six==1.12.0
sklearn==0.0
smart-open==1.8.4
SQLAlchemy==1.3.5
subprocess32==3.5.4
tabulate==0.8.3
tensorboard==1.13.1
tensorflow==1.13.1
tensorflow-estimator==1.13.0
termcolor==1.1.0
text-unidecode==1.2
urllib3==1.25.3
wcwidth==0.1.7
Werkzeug==0.15.4
wrapt==1.11.2
zipp==0.5.1
